<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>{{ page.title }}</title>
   <meta name="author" content="Tom Preston-Werner" />


   <!-- syntax highlighting CSS -->
   <link rel="stylesheet" href="{{ "/css/syntax.css" | relative_url }}" type="text/css" />

   <!-- Homepage CSS -->
   <link rel="stylesheet" href="{{ "/css/screen.css" | relative_url }}" type="text/css" media="screen, projection" />

   <!-- Typekit -->
   <script type="text/javascript" src="http://use.typekit.com/jpd0pfm.js"></script>
   <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
</head>
<body>

<!-- ClickTale Top part -->
<script type="text/javascript">
var WRInitTime=(new Date()).getTime();
</script>
<!-- ClickTale end of Top part -->

<div class="site">
  <div class="title">
    <a href="{{ site.baseurl }}/">collections</a>
    <a class="extra" href="{{ site.baseurl }}/">home</a>
    <a class="extra" href="{{ site.baseurl }}/tags/">tags</a>
  </div>

  {{ content }}

  <div class="footer">
    <div class="contact">
      <p>
     云叔
        <br />

        <br />

      </p>
    </div>
    <div class="contact">
      <p>
      
        <a href="http://twitter.com/leoshcn/">twitter.com/leoshcn</a><br />
        hosted on github
      </p>
    </div>
    <div class="rss">
      <a href="{{ site.baseurl }}/feed.xml">
        <img src="{{ "/images/rss.png" | relative_url }}" alt="Subscribe to RSS Feed" />
      </a>
    </div>
  </div>
</div>






</body>
</html>
